# 范匹配
*.pyc

# 目录
.vscode
automation-server/jd_auto_match/models/storage

# 独立文件
.webui_secret_key
command.sh
# env-setup.sh
automation-server/.env
automation-server/private/
automation-server/jd_auto_match/jl.md
