# 范匹配
*.pyc

# 目录
.vscode
automation-server/video_compression/cache/
automation-server/iwara/browser-plugin/dist/
automation-server/image_compression/pending/
automation-server/jd_auto_match/models/storage/

# 独立文件
command.sh
# env-setup.sh
error.log
.webui_secret_key
automation-server/.env
automation-server/private/
automation-server/jd_auto_match/jl.md
automation-server/iwara/browser-plugin/code/.amo-upload-uuid
